<h1>Articles</h1>
<div id="articles">
  <h2 class="month">
  <%= link_to '<', date: @date.prev_month %>
  <%= @date.strftime('%B %Y') %>
  <%= link_to '>', date: @date.next_month %>
  </h2>
    <%= calender @date do |date| %>
      <%= date.day %>
    <% end %>
</div>
