<%= error_messages_for(f.object) %>

<table>
  <tr>
    <td>name</td>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <td>Content type</td>
    <td>
      <%= f.radio_button :content_type, 'html' %> HTML
      <%= f.radio_button :content_type, 'text' %> TEXT
    </td>
  </tr>
  <tr>
    <td>Content</td>
    <td><%= f.text_area(:content, size: '40x10') %></td>
  </tr>
  <tr>
    <td>Visable</td>
    <td><%= f.check_box(:visable) %></td>
  </tr>
  <tr>
    <td>Page ID</td>
    <td><%= f.select :page_id, which_pages(@pages) %></td>
  </tr>
  <tr>
    <td>Submit</td>
    <td><%= f.submit('Save') %></td>
  </tr>
</table>
