<%= error_messages_for(f.object) %>

<table summary='Subjects form fields'>
<tr>
  <th>Name</th>
  <td><%= f.text_field(:name)  %></td>
</tr>
<tr>
  <th>Position</th>
  <td><%= f.select(:position, 1..@subject_count) %></td>
</tr>
<tr>
  <th>Visible</th>
  <td><%= f.check_box(:visible) %></td>
</tr>
<tr>
  <%= f.datetime_select(:created_at, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year+10, start_hour: Time.now.hour) %>
</tr>
  <tr>
    <td><%= f.submit('Create Subject') %></td>
  </tr>
